<% if admin_signed_in? %>
  <div class="col-md-3" style=" padding-top: 50px;">
    <% if admin_signed_in? %>
      <h1>Admin</h1>
      <%= render 'layouts/admin' %>
    <% end %>
  </div>
  <div class="col-md-9"  style=" padding-top: 50px;">
    <div class="center jumbotron">
    <%= image_tag(@product.image)%>
    <h3><%= (@product.price/100.to_f).to_s + "$" %></h3>
      <%= form_for(@product, url: {action: "edit"}) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name,  class: 'form-control'%>

        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>

        <%= f.label :category_id %>
        <%= f.number_field :category_id,  class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label :image %>
        <%= f.text_field :image, class: 'form-control' %>
        </br>
        <%= f.submit "Submit" , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>Only Admin</h1>
<% end %>