
<div class="row">
  <div class="col-md-3" style=" padding-top: 50px;">
  <% if admin_signed_in? %>
    <%= render 'layouts/admin' %>
  <% else %>
    <%= render 'layouts/cart' %>
    <%= render 'categories/view' %>
  <% end %>
</div>
  <div class="col-md-9"  style=" padding-top: 50px;">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <% if admin_signed_in? %>
    <%= render 'products/admin_products' %>
  <% else %>
    <%= render 'products/custom_products' %>
  <% end %>

  </div>
</div>